.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.active {
  width: 25%;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
}

.sidebar .nav-link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .nav-link:hover {
  color: #f1f1f1;
}

.sidebar .about-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}
